var new_comment = $("<%= eacape_javascript(render(:partial => @comment))%>").hide();
$('#commens').prepend(new_comment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();